@font-face {
	font-family: 'Helvetica neue medium';
	src: url('http://res.cloudinary.com/myntra-com/raw/upload/v1471609975/fonts/helvetica/HelveticaNeue-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Helvetica neue light';
  src: url('http://res.cloudinary.com/myntra-com/raw/upload/v1471609975/fonts/helvetica/HelveticaNeue-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Gotham';
  src: url('http://res.cloudinary.com/myntra-com/raw/upload/v1471606844/fonts/gotham/Gotham-Light.otf') format('opentype');
}


@font-face {
  font-family: 'Adidas';
  src: url('http://res.cloudinary.com/myntra-com/raw/upload/v1471611982/fonts/adidas-half-block/Adidas_Half_Block_2016.otf') format('opentype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Gotham', sans-serif;
  font-size: 10px;
}

img {
	width: 100%;
	height: auto;
	display: block;
}


html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }